
/.idea/
/.vscode/
/.DS_Store

/vendor/
/node_modules/
/.env
/.env.local
/.env.*.local
/.cache/
*.log
/storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

/public/uploads/
public/storage/


/.idea/